{
  "presets": [
    "@babel/preset-env", // compiling ES2015+ syntax
    ["@babel/preset-react", { "runtime": "automatic" }] // for react
  ],
  /*
      Babel's code transformations are enabled by applying plugins (or presets) to your configuration file.
  */
  "plugins": ["@babel/plugin-transform-runtime"]
}
